#search-area{
    display: flex;
    flex-direction: row ;
    height: 50px;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    background: #fff;
    margin-bottom: 10px;
}
#inputSearch{
    margin-left: 20px;
    font-size: 17px;
    border-radius: 5px;
    height: 30px;
    width: 200px;
}
#search-form{
    display: inline;
}
#search-btn{    
    margin-left: 10px;
    background-color: lightblue;
    height: 40px;
    width: 70px;
}
#content-display{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    background: #fff;
}
.line{
    display: flex;
    flex-direction: row;
}
.item{
    flex-grow: 1;
    background-color: red;
    margin: 5px;
    height: 170px;
}