#search-area{
    display: flex;
    flex-direction: row ;
    height: 50px;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    background: #fff;
    margin-bottom: 10px;
}
#inputSearch{
    margin: 0 20px 0 20px;
    font-size: 17px;
    border-radius: 5px;
    height: 40px;
    width: 300px;
    border: none;
    outline: none;
}
#search-form{
    display: inline;
}
#search-btn{    
    margin-left: 10px;
    background-color: lightgray;
    border-radius: 20;

}
#content-display{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    background: #fff;
}
.line{
    display: flex;
    flex-direction: row;
}
.item{
    display: flex;
    width: 50%;
    margin: 20px;
    height: 170px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    background: #fff;
    
}

.avatar-area{
    margin-left: 30px;
    flex-grow: 1;
}

.avatar-picture{
    width: 100px;
    height: 100px;
}
.content-area{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
}

.statistics-btn-area{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;
}












.btn{
    background-color: lightblue;
    margin: 0 10px 10px 0;
}
.text-h2{
    font-family: "Cambria";
    font-size: 25px;
    font-weight: bold;
}
.text-h3{
    font-family: Courier;
    font-size: 15px;
    font-weight: bold;
}
.text-h1{
    font-family: Courier;
    font-size: 40px;
    font-weight: bold;
}
.number-h1{
    font-family: "Verdana";
    font-size: 40px;
}